<div class="container">
    <nav class="nav nav-pills my-sm-2">
        <!-- <a class="nav-item nav-link active" href="#">Active</a> -->
        <a class="nav-item nav-link" id="gasTab" data-toggle="tab" href="#gas-tab">Gas</a>
        <a class="nav-item nav-link" id="electricityTab" data-toggle="tab" href="#electricity-tab">Electricity</a>
        <a class="nav-item nav-link" id="waterTab" data-toggle="tab" href="#water-tab">Water</a>
      </nav>
</div>

<div>
  <div class="tab-content" id="tabContent">
    <div class="tab-pane fade show active" id="gas-tab" role="tabpanel" aria-labelledby="gasTab">
      <record-table [records]=this.gasRecords [showDetails]=this.showDetails></record-table>
    </div>
    <div class="tab-pane fade" id="electricity-tab" role="tabpanel" aria-labelledby="electricityTab">
      <record-table [records]=this.electricityRecords [showDetails]=this.showDetails></record-table>
    </div>
    <div class="tab-pane fade" id="water-tab" role="tabpanel" aria-labelledby="waterTab">
      <record-table [records]=this.waterRecords [showDetails]=this.showDetails></record-table>
    </div>
  </div>

</div>


<div class="container">

    <button (click)="toggleDetails()" class="btn btn-primary my-sm-3">
      {{!showDetails ? "Hide Details" : "Show Details"}} 
    </button>
  </div>

  <div class="container row">
    <div class="col-sm">
        <new-record (record)=createRecord($event)></new-record>
    </div>
  </div>
