<table class="table container table-sm table-striped">
    <thead>
      <tr>          
        <th scope="col">No.</th>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Value</th>
        <th *ngIf="!showDetails" scope="col">Details</th>
      </tr>
    </thead>
    <tbody>            
      <tr *ngFor="let record of records | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <td >{{record.id}}</td>
          <td>{{record.when | date:'dd/MM/yyyy @ HH:mm'}}</td>
          <td>{{record.readingType}}</td>
          <td>{{record.value}} units</td>
          <td *ngIf="!showDetails" style="width:20px">
            <a [routerLink]="['/records/'+ record.id]" ><span class="detailIcon">
                <i class="fas fa-info-circle"></i>
            </span></a>
        </td>          
       </tr>          
    </tbody>
    <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="records?.length"></ngb-pagination>
  </table>