<div class="card">
    <div class="card-header text-left"><h5>New Meter Reading</h5></div>
    <div class="card-body">
      <form #recordForm="ngForm" class="form-inline">
        <label for="gas" class="sr-only">Gas</label>
        <input type="text" name="gas" id="weight" class="form-control my-1 mr-sm-2"
          autocomplete="off" placeholder="Gas" [(ngModel)]="model.value"> 
        
        <label for="electricity" class="sr-only">Electricity</label>
        <input type="text" name="electricity" id="electricity" autocomplete="off" 
        class="form-control my-1 mr-sm-2" placeholder="Electricity"> 
        
        <label for="water" class="sr-only">Water</label>
        <input type="text" name="water" id="water" autocomplete="off" 
        class="form-control my-1 mr-sm-2" placeholder="Water">         
    
        <label for="recordDate" class="sr-only">Date</label>
        <input type="text" name="recordDate" id="recordDate" 
        autocomplete="off" class="form-control my-1 mr-sm-2" 
        placeholder="Date (mm/dd/yyyy)" [(ngModel)]="model.date"
          required > 
      </form>
      <button [disabled]="recordForm.form.invalid" (click)="addRecord(); resetForm();" class="btn btn-primary my-1" >Save</button>
  
    </div>
  </div>